@import '../../mixins.scss';

.Product {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5rem;

    @media (min-width: rem(768)) {
        flex-direction: row;
    }

    .Wrapper {
        flex: 1;
    }

    .Paper {
        padding: 1rem;
        margin: 0.5rem;
    }
}
