@import '../../../mixins.scss';

.ImageWrapper {
    overflow: hidden;
    height: 0;
    padding-top: 56.25%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.Title {
    font-size: rem(20);
    font-weight: 400;
}

.Subtitle {
    font-size: rem(14);
    font-weight: 400;
}

.Description,
.Tags {
    color: var(--text-secondary);
    font-size: rem(14);
    margin-top: rem(5);
}

.Tags {
    font-size: rem(12);
}
